@font-face {
  font-family: "Lato Black";
  src: url("./assets/fonts/fonlato-black-webfont.eot");
  src: url("./assets/fonts/lato-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/lato-black-webfont.woff") format("woff"),
    url("./assets/fonts/lato-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Light";
  src: url("./assets/fonts/lato-light-webfont.eot");
  src: url("./assets/fonts/lato-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/lato-light-webfont.woff") format("woff"),
    url("./assets/fonts/lato-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("./assets/fonts/lato-regular-webfont.eot");
  src: url("./assets/fonts/lato-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/lato-regular-webfont.woff") format("woff"),
    url("./assets/fonts/lato-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Lato Regular", Verdana, sans-serif;
  color: #666699;
  line-height: 1.42;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  max-width: 940px;
    margin: auto;
}

.portfolio {
  height: 863px;
  background: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio_block {
  padding-top: 50px;
  padding-bottom: 57px;

}

.portfolio__header {
  margin-bottom: 19px;
}

.portfolio__title {
  margin: 0;
  font-family: "Lato Black", Verdana, sans-serif;
  font-size:3rem;
  color: #666d89;
  letter-spacing: 0.26px;
}

.portfolio__description{
  margin-top: 18px;
  font-family: "Lato Light", Verdana, sans-serif;
  font-size:1.8rem;
  color: #666699;
  letter-spacing: -0.19px;
}

.portfolio__tags{
  display: flex;
  justify-content: flex-start;
  margin-top: 13px;
}

.tag {
  border: 1px solid #666699;
  border-radius: 5px;
  padding: 4px 6px 6px 8px;
  margin-right: 10px;
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 1.2rem;
  letter-spacing: -0.1px;
  color: #666699;
  background: #2d303a;
  line-height: 1rem;
}
.portfolio__tags .tag:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.2s;
}

.tag.active { 
  border: 1px solid #ffffff;
  color: #ffffff;
  letter-spacing: -0.2px;
}

.portfolio__examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 0px;
}

.portfolio__example {
  margin-bottom: 15px;
}


.portfolio__image {
  height: 187px;
  width: 220px;
}






