@font-face {
  font-family: "Lato Black";
  src: url("./assets/fonts/fonlato-black-webfont.eot");
  src: url("./assets/fonts/lato-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/lato-black-webfont.woff") format("woff"),
    url("./assets/fonts/lato-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Light";
  src: url("./assets/fonts/lato-light-webfont.eot");
  src: url("./assets/fonts/lato-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/lato-light-webfont.woff") format("woff"),
    url("./assets/fonts/lato-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("./assets/fonts/lato-regular-webfont.eot");
  src: url("./assets/fonts/lato-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/lato-regular-webfont.woff") format("woff"),
    url("./assets/fonts/lato-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Lato Regular", Verdana, sans-serif;
  line-height: 1.42;
  color: #666699;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  max-width: 940px;
  margin: auto;
}

.contact {
  border-bottom: 6px solid #ea676b;
  background: #f06c64;
}

.contact-desription {
  padding-top: 48px;
  padding-left: 43px;
}

.contact-title {
  font-family: "Lato Black", Verdana, sans-serif;
  font-size: 3rem;
  color: #f0d8d9;
  line-height: 44.5px;
  letter-spacing: -1.6px;
}

.contact-description_text {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  font-family: "Lato Light", Verdana, sans-serif;
  font-size:1.8rem;
  letter-spacing: -0.88px;
  line-height: 28.3px;
  color: #f0d8d9;
 }

 .contact-informition_block {
  display: flex;
  padding-top: 30px;
  padding-left: 43px;

}

.contact-form {
  padding-bottom: 11px;

}

.contact-input{
  display: block;
  height: 34px;
  width: 563px;
  padding-left:13px ;
  margin-bottom: 15px;
  letter-spacing: 0.51px;
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  color: #f48c8f;
  background: #d6564f;
}

.contact-textarea {
  display: block;
  height: 184px;
  width: 563px;
  padding-top: 10px;
  padding-left:13px;
  margin-bottom: 15px;
  letter-spacing: 0.51px;
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  resize: none;
  color: #f48c8f;
  background: #d6564f;
}

textarea::-webkit-input-placeholder {
  color: #f48c8f;
}

input::-webkit-input-placeholder {
  color: #f48c8f;
}

.contact-submit {
  height: 34px;
  width: 135px;
  padding-left:13px ;
  padding-right:13px ;
  margin-bottom: px;
  font-family: "Lato Regular", Verdana, sans-serif;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
  color: #f48c8f;
  background: #bb4343;
  cursor: pointer;
}

.contact-information {
  padding-left: 19px;
  padding-right: 40px;

}

.contact-contact_informition_title {
  font-family: "Lato Black", Verdana, sans-serif;
  font-size: 1.8rem;
  padding-bottom: 12px;
  color: #f0d8d9;
  letter-spacing: -0.9px;
  line-height: 14px;
}

.contact-contact_informition_describe {
  color: #f0d8d9;
  font-family: "Lato Regular", Verdana, sans-serif;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 19.59px;
  letter-spacing: -0.61px;
  padding-bottom: 18px;
}

.contact_adress_text { 
  display: inline-block;
  font-family: "Lato Regular", Verdana, sans-serif;
  color: #f0d8d9;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}

.contact_adress_icon {
  padding-left: 2px;
  padding-right: 6px;
}

.contact-phone {
  margin-top: -2px;
}

.contact-phone_icon {
  padding-right: 6px;
}

.contact-phone_text {
  display: inline-block;
}

.contact-phone_link {
  display: inline-block;
  font-family: "Lato Regular", Verdana, sans-serif;
  color: #f0d8d9;
  font-size: 1.2rem;
  letter-spacing: -0.7px;
  line-height: 23px;
  padding-bottom: 0;
}

.contact-phone_link:hover {
  text-decoration: underline;
}

.contact-mail {
  margin-top: -5px;

}

.contact-mail_icon {
  padding-right: 4px;
}

.contact-mail_text{
 display: inline-block;
}

.contact-mail_link {
  font-family: "Lato Regular", Verdana, sans-serif;
  color: #f0d8d9;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 23px;
}

.contact-mail_link:hover {
  text-decoration: underline;
}


.footer {
 background: #2d303a;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
  padding-right: 42px;
  padding-bottom: 13px;
  padding-left: 43px;
}

.footer-copyright {
  font-family: "Lato Regular", Verdana, sans-serif;
  color: #a2a1b5;
  font-size: 1.2rem;

}

.footer-social_media_block {
  display: flex;
}

.footer-social_media_block div img {
  width: 30px;
  height: 30px;
  margin-left: 6px;
}

.footer-icon_facebook:hover,
.footer-icon_google:hover,
.footer-icon_twitter:hover,
.footer-icon_linkedin:hover {
  box-shadow: inset 2px 4px 22px 16px #454568;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s;
}


