

.wrapper {
min-height: 100%;
}

.header {

}

.container {
  width: 1020px;
  margin: auto;
  height: 95px;
  background-color: #2D303A;
  border-bottom: 7px solid #323746;
  box-sizing: border-box;
}

.contaiber__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 40px;  
}

.header__heading {
  width: 1px;
  height: 1px;
  margin: 0px;
  display: none;
}

.header__logo {
  color: #A3A4A8;
   font-size: 25px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold; 
  line-height: 0.253; 
   
}

.header__star {
  color: #F06C64;
}

.nav {

}

.nav__ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.nav__li {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: #A3A4A8;
}

.nav__link:hover {
  color: #F06C64;
}
